$bg-color: #000000;
$light-gray-color: #f6f6f6;
$light-green-color: #e5e8dc;
$white-color: #ffffff;
$light-sage-color: #e5e8dc;
$blue-color: #1e21ef;
$blue-gradient: linear-gradient(
  90.93deg,
  #1e21ef 0.41%,
  #12b3fd 30.59%,
  #1e21ef 74.06%,
  #12b3fd 106.79%
);

$silver-gradient: linear-gradient(
  90.93deg,
  #a4bbd1 0.41%,
  #eff3f6 30.59%,
  #a4bbd1 74.06%,
  #eff3f6 106.79%
);

$font-primary: "Inter", sans-serif;

$container: 1270px;

$xl: 1199.98px;
$lg: 991.98px;
$md: 767.98px;
$sm: 549.98px;
$xs: 389.98px;
