@use "./base/_variables" as *;
@use "./base/_mixins" as *;

.register {
  &__inner {
    background-image: url(/images/decor/card-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    padding: 65px 26px 75px 26px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 20px;
    position: relative;

    @media (max-width: 899.98px) {
      display: flex;
      flex-direction: column;
      row-gap: 36px;
      align-items: stretch;
      padding: 28px 20px 20px 20px;
    }
  }

  &__info {
    position: relative;
    z-index: 5;
  }

  &__title-block--desktop {
    @media (max-width: 899.98px) {
      display: none;
    }
  }

  &__title {
    font-weight: 700;
    @include adaptive(font-size, 68px, 22px);
    line-height: 1.23;
    background: $silver-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    span {
      display: block;
      padding-left: 105px;

      &:first-child {
        padding-left: 51px;
      }
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 119px;
    height: 119px;
    border-radius: 1878.95px;
    border: 1px solid rgba(#2d1fbf, 0.3);

    @include media($xs) {
      width: 85px;
      height: 85px;
    }

    @media (max-width: 349.98px) {
      display: none;
    }
    img {
      width: 70px;
      height: 83px;

      @include media($xs) {
        width: 40px;
        height: 53px;
      }
      @media (max-width: 349.98px) {
        display: none;
      }
    }
  }

  &__title-block--mobile {
    display: none;
    @media (max-width: 899.98px) {
      display: flex;
      column-gap: 28px;
    }

    @include media($sm) {
      column-gap: 10px;
    }
  }

  &__form-block {
    max-width: 450px;

    @media (max-width: 899.98px) {
      max-width: 100%;
    }
  }

  &__form-header {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 50px;

    @media (max-width: 899.98px) {
      margin-bottom: 43px;
    }
  }

  &__form-title {
    font-weight: 400;

    @include adaptive(font-size, 24px, 16px);
    line-height: 1.54;
    color: $light-sage-color;
  }

  &__form-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    border: 1px solid rgba(#2d1fbf, 0.3);
    @media (max-width: 899.98px) {
      display: none;
    }
    img {
      width: 113px;
      height: 133px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  &__input {
    background-color: transparent;
    border: 1px solid $light-sage-color;
    border-radius: 20px;
    padding: 20.5px 21px;
    color: $white-color;
    transition: 0.3s border ease;

    &:focus {
      border-color: $blue-color;
    }
  }

  &__submit {
    background: linear-gradient(90deg, #120060 0%, #290693 100%);
    border-radius: 20px;
    padding: 20px 51px 20px 51px;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: $light-sage-color;
    transition: 0.3s all ease;

    @include hover {
      &:hover {
        background: linear-gradient(90deg, #120060 0%, #290693 70%);
      }
    }
  }

  &__decor {
    position: absolute;
    top: 160px;
    left: 22px;
    z-index: 1;

    @media (max-width: 899.98px) {
      display: none;
    }
  }
}
